{% extends 'base.html.twig' %}
{% block title %}Create{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-6 offset-3">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label (form.title) }}
                {{ form_widget(form.title, {attr: { class: "form-control"}} ) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="form-group">
                {{ form_label (form.save) }}
                {{ form_widget(form.save, {attr: { class: "btn btn-success btn-block form-control"}} ) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
